@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Raleway');

@media screen and (max-width: 460px) {
    body {
        font-size: 1rem;
    }
}

body {
    background: linear-gradient(90deg, #FFEEEE, #DDEFBB);
    font-family: 'Raleway', sans-serif;
}

#header {
    color: #DDDDDD;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

#menu {
    border: 1px solid azure;
    width: 900px;
}

#nav-bar-right {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
}