@import url('https://fonts.googleapis.com/css?family=Raleway');

@media screen and (max-width: 400px) {
    body {
        font-size: 1rem;
    }
}

body {
    background: linear-gradient(90deg, #FFEEEE, #DDEFBB);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 0px 80px 0px 80px;
    display: block;
    justify-content: center;

}

#header {
    color: #DDDDDD;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

#header-img {
  width: 5%;
  height: 5%;
}

#menu {
    border: 1px solid azure;
    width: 100%;
}

#nav-bar-right {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: inline-flex;
    justify-content: space-between;
}

#footer {
    border: 1px solid azure;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
}

.cttBlock {
  position: relative;
  margin: 0;
  width: 100%;
}
